Dictionaries into Pandas DataFrame:

In [2]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)
print(brics)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [3]:
dic_= {'Alaa': ['Islam'], 'Sara':['Badr'], 'Iman':['Aly']}

import pandas as pd
dic_DF = pd.DataFrame(dic_)
print(dic_DF)

    Alaa  Sara Iman
0  Islam  Badr  Aly

Canging index values

In [4]:
# Set the index for brics
brics.index = ["BR", "RU", "IN", "CH", "SA"]

# Print out brics with new index values
print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

Create DataFrame via .CSV file

In [7]:
# Import pandas as pd
import pandas as pd

# Import the cars.csv data: cars
cities = pd.read_csv('cities.csv')

# Print out cities
print(cities)

     LatD   "LatM"   "LatS"  "NS"   "LonD"   "LonM"   "LonS"  "EW"  \
0      41        5       59   "N"       80       39        0   "W"
1      42       52       48   "N"       97       23       23   "W"
2      46       35       59   "N"      120       30       36   "W"
3      42       16       12   "N"       71       48        0   "W"
4      43       37       48   "N"       89       46       11   "W"
..    ...      ...      ...   ...      ...      ...      ...   ...
123    39       31       12   "N"      119       48       35   "W"
124    50       25       11   "N"      104       39        0   "W"
125    40       10       48   "N"      122       14       23   "W"
126    40       19       48   "N"       75       55       48   "W"
127    41        9       35   "N"       81       14       23   "W"

                 "City"  "State"
0          "Youngstown"       OH
1             "Yankton"       SD
2              "Yakima"       WA
3           "Worcester"       MA
4     "Wisconsin Dells"       WI
..                  ...      ...
123              "Reno"       NV
124            "Regina"       SA
125         "Red Bluff"       CA
126           "Reading"       PA
127           "Ravenna"      OH

[128 rows x 10 columns]